<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Clear to ensure we only use specified sources -->
    <clear />
    <!-- Local package source for testing -->
    <add key="Local-SlangNet" value="../../artifacts" />
    <!-- Keep default NuGet.org source -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
